body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

/* header */
.header {
    height: 72px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header .logo {
    width: 462px;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin-right: 48px;
    flex: 0 0 auto;
}

.header ul {
    width: 510px;
    padding: 0;
    font-size: 18px;
    list-style-type: none;
    text-align: right;
    flex: 0 0 auto;
}

.header li {
    margin: 12px;
    display: inline;
}

.header a {
    color: #E5E7EB;
    text-decoration: none;
}

/* main card */
.main-card {
    height: 480px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-card .text {
    height: 240px; 
    width: 462px;
    margin-right: 48px;
    flex: 0 0 auto;
}

.main-card .text .tagline {
    margin: 6px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.main-card .text .subtext {
    margin: 6px;
    font-size: 18px;
    color: #E5E7EB;
}

.main-card .text button {
    margin: 6px;
    font-size: 18px;
    border-radius: 6px;
    padding: 6px 30px;
    border: none;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882F6;
}

.main-card .picture {
    width: 510px;
    height: 240px;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #797781;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
}

/* information card */
.information-card {
    height: 528px;
    background-color: #F9FAF8;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.information-card .header {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 36px;
    color: #1F2937;
    background-color: #F9FAF8;
    flex: 0 0 auto;
}

.information-card .images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.information-card .images .container {
    width: 168px;
    margin: 30px;
}

.information-card .images .container .image {
    width: 156px;
    height: 156px;
    border-radius: 18px;
    border: #3882F6 solid 6px;
}

.information-card .images .container .subtext {
    font-size: 18px;
    margin-top: 6px;
    color: #1F2937;
    text-align: center;
}

/* quote card */
.quote-card {
    height: 480px;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.quote-card .quote {
    width: 834px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-top: 30px;
}

.quote-card .thor {
    width: 738px;
    font-size: 24px;
    font-weight: 900;
    color: #1F2937;
    text-align: right;
} 

/* sign up card */
.sign-up-card {
    height: 420px;
    background-color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-card .container {
    width: 1428px;
    height: 204px;
    border-radius: 18px;
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sign-up-card .container .text .header {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    background-color: #3882F6;
}

.sign-up-card .container .text .subtext {
    font-size: 18px;
    color: #F9FAF8;
}

.sign-up-card .container button {
    font-size: 18px;
    border-radius: 6px;
    padding: 6px 30px;
    border: 3px solid #F9FAF8;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882F6;
}

/* footer */
.footer {
    height: 120px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer .text {
    font-size: 18px;
    color: #F9FAF8;
}