body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

/* header */
.header {
    height: 48px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin: 0 12px 0 144px;
    flex: 0 0 auto;
}

.header ul {
    padding: 0;
    font-size: 18px;
    margin: 0 144px 0 12px;
    list-style-type: none;
    flex: 0 0 auto;
}

.header li {
    margin: 12px;
    display: inline;
}

.header a {
    color: #E5E7EB;
    text-decoration: none;
}

/* main card */
.main-card {
    height: 480px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-card .text {
    height: 240px; 
    width: 462px;
    margin: 0 12px 0 144px;
    flex: 0 0 auto;
}

.main-card .text .tagline {
    margin: 6px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.main-card .text .subtext {
    margin: 6px;
    font-size: 18px;
    color: #E5E7EB;
}

.main-card .text button {
    margin: 6px;
    font-size: 18px;
    border-radius: 6px;
    padding: 6px 30px;
    border: none;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882F6;
}

.main-card .picture {
    width: 510px;
    height: 240px;
    font-size: 18px;
    margin: 0 144px 0 12px;
    color: #F9FAF8;
    background-color: #797781;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
}

/* information card */
